
<div class="row example-container">

	<div class="col-md-8 list-view-container">

		<div ng-switch="(cart.shoppingCartItemList.length > 0).toString()">
			<div ng-switch-when="true">
				<div pf-list-view items="items" config="config"
					action-buttons="actionButtons">

					<div class="list-view-pf-description">

							<div class="media">
							  <div class="media-left">
							      <img	class="media-object" ng-src="/app/imgs/{{item.product.name}}.jpg"
							      		alt="{{item.product.name}}">
							  </div>
							  <div class="media-body">
							  
							    <h2 class="media-heading">{{item.product.name}}</h2>
							    <div class="p-t-8">
							    	<span class="label label-default">Quantity: {{item.quantity}}</span>
								</div>
								<div class="p-t-8">
									{{item.product.desc}}
								</div>
							  </div>
							</div>
					</div>
				</div>
			</div>
			<div ng-switch-when="false">
				<h1>You have not added any items to your Shopping Cart!</h1>
				<a ng-href="#/" class="btn btn-default btn-lg">Return to Store</a>
			</div>
		</div>
	</div>

	<div class="col-md-4 panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Shopping Summary</h3>
		</div>
		<div class="panel-body">

			<h3>Cart Total: {{subtotal | currency}}</h3>
			<h3>Promotional Item Savings: {{cart.cartItemPromoSavings |
				currency}}</h3>
			<h3>Subtotal: {{cart.cartItemTotal | currency}}</h3>
			<h3>Shipping: {{cart.shippingTotal | currency}}</h3>
			<h3>Promotional Shipping Savings: {{cart.shippingPromoSavings |
				currency}}</h3>
			<h2>
				Total Order Amount: <strong>{{cart.cartTotal | currency}}</strong>
			</h2>
		</div>
		<div class="panel-footer">
			<button
				class="btn btn-primary btn-lg" data-toggle="modal"
				data-target="#checkoutModal" type="button">Checkout</button>

			<button ng-if="ssoEnabled() && !isLoggedIn()" ng-click="login()"
					class="btn btn-primary btn-lg" type="button">Sign in to purchase</button>

			<button ng-if="!ssoEnabled()" ng-disabled="true"
					title="SSO has not been configured" class="btn btn-primary btn-lg" type="button">Sign in unavailable</button>

			<a ng-href="#/" class="btn btn-default btn-lg">Keep Shopping</a>
		</div>
	</div>
</div>


<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<span class="pficon pficon-close"></span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Final Order Summary</h4>
			</div>
			<div class="modal-body">
				<h1>Thank you for shopping at the Coolstuff Store!</h1>
				<p>
					Your order total of <strong>{{cart.cartTotal | currency}}</strong>
					will be processed when you click Checkout.
				</p>
				<p>
					<input type="hidden" name="check" value="false" ng-model="check">
					<div class="panel-body">
					<form novalidate name="paymentForm">
					<input
							type="text"
							name="nameOnCard"
							class="clearfix"
							ng-model="nameOnCard"
							required
							placeholder="Your name as on Card" >						
					<input
					type="text"
					name="creditCard"
					class="clearfix"
					ng-model="ccinfo.number"
					required
					data-credit-card-type
					data-ng-pattern="/^[0-9]+$/"
					data-ng-minlength="15"
					maxlength="19"
					placeholder="Card Number" >{{ccinfo.type}}
				  <br/>
				  <input
					type="text"
					name="securityCode"
					class="clearfix"
					ng-model="ccinfo.securityCode"
					placeholder="CVC"
					required
					data-ng-pattern="/^[0-9]+$/"
					data-ng-minlength="3"
					maxlength="4">
				  
				  <select ng-model="ccinfo.month" name="month" data-card-expiration required>
					<option disabled selected value="">Month</option>
					<option ng-repeat="month in [01,02,03,04,05,06,07,08,09,10,11,12]">{{month}}</li>
				  </select>
				  <select ng-model="ccinfo.year" name="year" required>
					<option disabled selected value="">Year</option>
					<option ng-repeat="year in [19,20,21,22,23,24,25,26,27,28]">{{year}}</li>
				  </select>
				  <br/>
				  <input
				  type="text"
				  name="shippingAddress"
				  class="clearfix"
				  ng-model="shipping.address"
				  required
				  placeholder="Shipping Address" >
				  <br/>
				  <br/>
				  <button ng-click="paymentForm.submitAttempt=true;save(ccinfo)" class="btn btn-default btn-lg" type="submit">Submit Order</button>
				</p>
			</div>
			<div class="modal-footer">
					<ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
						<div class="alert alert-danger" role="alert">
							<small ng-show="paymentForm.creditCard.$error.minlength">Credit card must be 15-19 digits. </small>
							<small ng-show="paymentForm.creditCard.$error.pattern">Credit card must consist of only numbers. </small>
							<small ng-show="paymentForm.creditCard.$error.invalid">Credit card must be a valid Amex, Visa, Discover, or Master Card. </small>
							<small ng-show="paymentForm.creditCard.$error.required">Credit card required. </small>
							<small ng-show="paymentForm.securityCode.$error.pattern">Security code must contain only numbers. </small>
							<small ng-show="paymentForm.securityCode.$error.minlength">Security code must be 3-4 digits. </small>
							<small ng-show="paymentForm.securityCode.$error.required">Security code required. </small>
							<small ng-show="paymentForm.month.$error.required">Expiration month required.  </small>
							<small ng-show="paymentForm.year.$error.required">Expiration year required. </small>
							<small ng-show="paymentForm.month.$error.invalid">Provided expiration date is invalid. </small>
						</div>
					</ul>
				<a ng-if="paymentForm.$valid" ng-click="checkout(paymentForm.creditCard.value, paymentForm.creditCard.value)" data-dismiss="modal"
					class="btn btn-primary btn-lg">Checkout</a>
				<a data-dismiss="modal"
					class="btn btn-default btn-lg">Cancel</a>
			</div>
		</div>
	</div>
</div>
